* {
  font-family: 'Alata', sans-serif;
  color: $secondary;
}

body {
  overflow: hidden; //bloquear el scroll horizontal
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2 {
  font-size: 40pt;
  text-transform: uppercase;
}

.btn {
  border: 2px solid $secondary;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $secondary;
    color: $primary;
  }
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.weird {
  color: $tests;
}

html {
  scroll-behavior: smooth;
}

.accent {
  color: $accent;
}

.btn {
  cursor: pointer;
}

.beta {
  position: relative;

  &::after {
    content: "Beta";
    height: max-content;
    background-color: tomato;
    color: white;
    font-size: 10pt;
    position: absolute;
    padding: 0.2rem;
    top: 100%;
    transform: translateY(-50%);
  }
}