/*Colors*/
$black: rgb(32, 32, 32);
$grey_1: rgb(183, 183, 183);
$grey_2: #909090;
$grey_3: #303030;
/*Theme*/
$primary: var(--bg-color);
$secondary: $grey_1;


/*Debug*/
$tests: #bada55;

/* heights */
$navbar: 70px;
$footer: 70px;